#google-logo {
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
    position: relative;
    top: 6vh;
}
#navbar {
    height: 3vh;
    display: grid;
    grid-template-columns: repeat(15, auto);
    justify-items: center;
    align-items: center;
    font-size: 2vmin;
}
#about {
    color: rgb(34, 34, 34);
    text-decoration: none;
    grid-column: 1/2;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    text-decoration-thickness: auto;
}
#about:hover {
    text-decoration-line: underline;
}
#store {
    color: rgb(34, 34, 34);
    text-decoration-line: none;
    grid-column: 2/3;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    text-decoration-thickness: auto;
}
#store:hover {
    text-decoration-line: underline;
}
#gmail {
    color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    grid-column: 12/13;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration-thickness: auto;
}
#gmail:hover {
    text-decoration-line: underline;
}
#images {
    color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    grid-column: 13/14;
    font-size: 13px;
    font-family: arial, sans-serif;
    text-decoration-thickness: auto;
}
#images:hover {
    text-decoration-line: underline;
}
#apps {
    color:rgb(95, 99, 104);
}
#apps:hover {
    background: grey;
}
#apps-background:hover {
    height: 5vh;
    width: 5vw;
    background: grey;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
}
#sign-in {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    background: rgb(26, 115, 232);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-decoration-thickness: auto;
}
#sign-in-background {
    display: grid;
    height: 1.7vh;
    width: 10vw;
    background: rgb(26, 115, 232);
    justify-items: center;
    align-items: center;
    border-radius: 4px;
}
.searchbar {
    position: relative;
    top: 8vh;
    margin: auto;
    height: 2vh;
    width: 60vw;
    border-width: 0.2vw;
    border-color: lightgrey;
    border-style: solid;
    border-top-left-radius: 60vmin;
    border-bottom-left-radius: 60vmin;
    border-top-right-radius: 60vmin;
    border-bottom-right-radius: 60vmin;
    display: grid;
}
.search-input {
    border: none;
    width: 50vw;
    height: 1vh;
    justify-self: center;
    align-self: center;
}
.search-input:focus {
    outline: none;
}
#google-search {
    position: relative;
    display: grid;
    color: #3c4043;
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    font-weight: 400;
    background: rgb(248, 249, 250);
    height: 2vh;
    width: 7vh;
    top: 10vh;
    left: 15vh;
    justify-items: center;
    align-items: center;
    text-decoration-line: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(248, 249, 250)
}
#im-feeling-lucky {
    position: relative;
    display: grid;
    color: rgb(60, 64, 67);
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: rgb(248, 249, 250);
    top: 7.8vh;
    left: 51vw;
    height: 2vh;
    width: 8vh;
    justify-items: center;
    align-items: center;
    text-decoration-line: none;
    border-style: solid;
    border-color: rgb(248, 249, 250);
    border-width: 1px;
    border-radius: 4px;
}
#footer {
    position: relative;
    display: grid;
    background: lightgrey;
    top: 77.7vh;
    justify-items: center;
    align-items: center;
    height: 6vh;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(2, auto);
}
#carbon-neutral {
    grid-row: 1/2;
    grid-column: 4/7;
}
#advertising {
    grid-row: 2/3;
    grid-column: 2/3;
}
#business {
    grid-row: 2/3;
    grid-column: 3/4;
}
#how-search-works {
    grid-row: 2/3;
    grid-column: 4/5;
}
#privacy {
    grid-row: 2/3;
    grid-column: 6/7;
}
#terms {
    grid-row: 2/3;
    grid-column: 7/8;
}
#settings {
    grid-row: 2/3;
    grid-column: 8/9;
}
#carbon-neutral, #advertising, #business, #how-search-works, #privacy, #terms, #settings {
    color: black;
    text-decoration-line: none;
}
#carbon-neutral:hover, #advertising:hover, #business:hover, #how-search-works:hover, #privacy:hover, #terms:hover, #settings:hover {
    text-decoration-line: underline;
}
#leaf {
    height: 7%;
    width: 7%;
}
